html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 25px;
    font-weight: 300;
}

.layout__container {
    width: auto;
    max-width: 1000px;
    padding: 0px 15px;
}

.strategy__container {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.strategy__field {
    margin: 5px 0;
    padding: 2px 4px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-control[readonly] {
    cursor: default !important;
    background-color: #fff;
    opacity: 1 !important;
}

input .quantity {
    text-align: center;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}